 /* *{
        box-sizing: border-box;
    } */
 body {
     font-family: 'Bruno Ace', cursive;
     margin: 0px;
     padding: 0px;
     background: url('image.jpg');
     height: 1200px;
     width: 1500px;
     color: white;



 }

 .left {
     position: absolute;
     left: 34px;
     top: 20px;
     display: inline-block;
     color: white;
     /* border: 2px solid red; */

 }

 .left img {
     width: 145px;
     height: 112px;
     margin: 1px 20px;
 }

 .left div {
     line-height: 10px;
     font-size: 20px;
     text-align: center;
 }

 .mid {
     display: block;
     width: 60%;
     margin: 20px auto;
     /* border: 2px solid rgb(255, 255, 255); */

 }

 .right {
     line-height: 66px;
     position: absolute;
     right: 34px;
     top: 20px;
     display: inline-block;
     color: white;
     /* border: 2px solid rgb(255, 255, 36); */

 }


 .navbar {
     display: inline-block;
 }

 .navbar li {
     display: inline-block;
     color: white;
     font-size: 20px;
 }

 .navbar li a {
     color: white;
     text-decoration: none;
     padding: 34px 23px;
 }

 .navbar li a:hover,
 .navbar li a:active {
     text-decoration: underline;
     color: gray;

 }

 .btn {
     font-family: 'Bruno Ace', cursive;
     margin: 0px 9px;
     background-color: black;
     color: white;
     padding: 4px 14px;
     border: 2px solid grey;
     border-radius: 10px;
     font-size: 14px;
     cursor: pointer;
 }

 /* .btn:hover {
        background-color: rgb(72, 70, 70);
    } */

 .btn:before {
     content: '';
     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     animation: glowing 20s linear infinite;
     opacity: 0;
     transition: opacity .3s ease-in-out;
     border-radius: 10px;
 }

 .btn:active {
     color: #000
 }

 .btn:active:after {
     background: transparent;
 }

 .btn:hover:before {
     opacity: 1;
 }

 .btn:after {
     z-index: -1;
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: #111;
     left: 0;
     top: 0;
     border-radius: 10px;
 }

 .container {
     /* border: 2px solid rgb(255, 255, 255); */
     border-radius: 45px;
     margin: 104px 900px;
     padding: 57px 88px;
     width: 30%;

 }

 .form-group input {
     font-family: 'Bruno Ace', cursive;
     text-align: center;
     display: block;
     width: 450px;
     padding: 6px;
     border: 2px solid black;
     border-radius: 20px;
     margin: 10px auto;
 }

 .container h1 {
     text-align: center;
 }

 .container button {
     display: block;
     width: 464px;
     border-radius: 20px;
     margin: 32px auto;
     border: none;
     outline: none;
     color: #fff;
     background: #111;
     cursor: pointer;
     position: relative;
     z-index: 0;
     border-radius: 10px;
 }

 /* .container button {
        width: 220px;
        height: 50px;

    } */

 .container button:before {
     content: '';
     background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 400%;
     z-index: -1;
     filter: blur(5px);
     width: calc(100% + 4px);
     height: calc(100% + 4px);
     animation: glowing 20s linear infinite;
     opacity: 0;
     transition: opacity .3s ease-in-out;
     border-radius: 10px;
 }

 .container button:active {
     color: #000
 }

 .container button:active:after {
     background: transparent;
 }

 .container button:hover:before {
     opacity: 1;
 }

 .container button:after {
     z-index: -1;
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     background: #111;
     left: 0;
     top: 0;
     border-radius: 10px;
 }

 @keyframes glowing {
     0% {
         background-position: 0 0;
     }

     50% {
         background-position: 400% 0;
     }

     100% {
         background-position: 0 0;
     }
 }